h1,h2,h3,h4,h5,h6,span,p,strong {
font-family: Raleway !important;
font: Raleway !important;
}

body{
font-family: Raleway !important;
font: Raleway !important;
background: #000000;
height: 100%;
}
.wrapper {
background: #FFFFFF;
}

/*=======================NAVIGATION STYLES======================*/

#header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
background-color: black;
padding: 15px 15px 15px 30px;
-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.4);
}
.subHeader {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.App-logo {
height: 7vmin;
pointer-events: none;
}
.App-logo-span {
color: #FFF;
font: 35px Raleway;
margin: 0px 10px;
padding: 10px 10px; 
position: relative;
pointer-events: none;
}
.navLinks {
font-family: Raleway;
margin: 0 auto;
text-align: center;
}
.navLinks a {
color: #FFF;
text-decoration: none;
font: 20px Raleway;
margin: 0px 10px;
padding: 20px 20px;
position: relative;
cursor: pointer;
}

/* ==============NAVIGATION ANIMATION==================== */

.circleBehind a:before, .circleBehind a:after {
position: absolute;
top: 22px;
left: 50%;
width: 50px;
height: 50px;
border: 4px solid #1d3f72;
-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
        transform: translateX(-50%) translateY(-50%) scale(0.8);
border-radius: 50%;
background: transparent;
content: "";
opacity: 0;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
z-index: -1;
}
.circleBehind a:after {
border-width: 2px;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}
.circleBehind a:hover:before {
opacity: 1;
-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
        transform: translateX(-50%) translateY(-50%) scale(1);
}
.circleBehind a:hover:after {
opacity: 1;
-webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.3);
        transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/*========================ABOUT STYLES========================*/

#about{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding-top: 5rem;
background: #FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4F6D85, #FFF, #FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(#4F6D85), color-stop(#FFF), to(#FFF));
background: -webkit-linear-gradient(top, #4F6D85, #FFF, #FFF);
background: -o-linear-gradient(top, #4F6D85, #FFF, #FFF);
background: linear-gradient(to bottom, #4F6D85, #FFF, #FFF);
}
.mypic {
border-radius: 100rem;
height: 55vmin;
width: 55vmin;
-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.7);
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.7);
}

/***========================UNDER PIC HEADING AND SUB-HEADING STYLES========================***/

h1 {
font-weight: 700;
font-size: 40px;
margin-top: 1rem;
margin-bottom: 1rem;
}
h2 {
font-weight: 500;
font-size: 24px;
line-height: 32px;
}

/***========================SOCIAL MEDIA LINK STYLES/ANIMATIONS========================***/

.socialbtns, .socialbtns ul, .socialbtns li {
margin: 5px;
margin-bottom: 2rem;
padding: 5px;
text-align: center;
font-size: 3rem;
}
.socialbtns li {
list-style: none outside none;
display: inline-block;
}
.socialbtns .fa {
color: #FFF;
background-color: #4F6D85;
padding: 10px;
border-radius: 200px;
-moz-border-radius: 200px;
-webkit-border-radius: 200px;
-o-border-radius: 200px;
transition: all ease 2s;
-moz-transition: all ease 2s;
-webkit-transition: all ease 2s;
-o-transition: all ease 2s;
-ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
-moz-transform: rotate(-360deg);
-webkit-transform: rotate(-360deg);
-o-transform: rotate(-360deg);
-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.socialbtns .fa:hover {
transition: all ease 1s;
-moz-transition: all ease 1s;
-webkit-transition: all ease 1s;
-o-transition: all ease 1s;
-ms-transform: rotate(360deg);
    transform: rotate(360deg);
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
}

/***========================SKILLS SECTION STYLES========================***/

.skills {
background-image: linear-gradient(to bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.5) 100%), url('Components/assets/web.jpg');
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: black;
height: 36rem;
width: 100%;
}
.skillsIcons {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
color: white;
text-align: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
padding-top: 4rem;
padding-left: 2rem;
padding-right: 2rem;
width: 100%;
}
.subSkills{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
width: 25%;
padding-right: 20px;
padding-left: 20px;
}

.fa-laptop-code, .fa-address-card, .fa-handshake, .fa-running {
font-size: 6rem;
padding-bottom: 5px;
color: #E3E4E5
}
.fa-laptop-code:hover, .fa-address-card:hover, .fa-handshake:hover, .fa-running:hover {
display: inline-block;
-webkit-animation: pulse 2s infinite linear;
animation: pulse 2s infinite linear;
}
.skillsSpan {
font-size: 28px;
padding-bottom: 5px;
font-weight: 600;
}
.skillsP {
margin: 0px; 
}

.asteroid {
margin: 6em 10.2%;
}
.asteroid_title {
text-align: center;
}
.asteroid_img_container {
width: 650px;
}
.asteroid_img{
width: 70%;
float: left;
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.5);
margin: 0 20px 7px 0;
}
.asteroid_subtitle {
letter-spacing: 1.5px;
line-height: 28px;
}
.img_btn {
display: block;
margin: 12px auto;
text-align: center;
border-radius: 2px;
}

/***========================RESUME STYLES========================***/

section {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
text-align: left;
}
.subHeading{
text-align: left;
}
.cv-ul-left {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
text-align: left;
}
.cv-ul-left li {
list-style: disc;
}
ul {
-webkit-padding-start: 16px;
        padding-inline-start: 16px;
}
article {
padding: 2rem;
text-align: center;
background: #FFF;
}
.cv {
background-image: linear-gradient(to bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.5) 100%), url('Components/assets/web-development-t.jpg');
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 5rem;
padding: 8rem 10rem 1rem 10rem;
}
.cvLink {
color: #71c2cc;
}
.btn {
font-size: 18px;
}
.button, .button:hover {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin: 2rem 0rem;
text-decoration: none;
}
.btn:hover {
-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

/***========================PROJECTS STYLES========================***/

.projectsBackground {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100rem;
margin-top: 3rem;
background: #FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #4F6D85, #FFF, #FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-gradient(linear, left bottom, left top, from(#4F6D85), color-stop(#FFF), to(#FFF));
background: -webkit-linear-gradient(bottom, #4F6D85, #FFF, #FFF);
background: -o-linear-gradient(bottom, #4F6D85, #FFF, #FFF);
background: linear-gradient(to top, #4F6D85, #FFF, #FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card {
-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.5);
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.5);
}
.cardLeft{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-left: 10rem;
margin-right: 10rem;
margin-bottom: 5rem;
font-size: 30px;
}
.cardLeft p{
padding-left: 15px;
}
.cardRight{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-left: 10rem;
margin-right: 10rem;
margin-bottom: 5rem;
font-size: 30px;
}
.cardRight p{
padding-right: 15px;
}
.cardLeftP p, .cardRightP p {
font-size: 32px;
line-height: 3rem;
}
.card-body {
text-align: center;
}
.col {
padding: 0px;
}

/***========================FOOTER STYLES========================***/

.footer {
height: 4rem;
color: white;
background: black;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.fa-react {
color: lightblue;
}

/***========================MEDIA QUERIES STYLES========================***/

@media screen and (max-width: 1045px) {
.skillsSpan {
font-size: 23px; 
}
}
@media screen and (max-width: 1031px) {
.skillsSpan {
font-size: 22px; 
}
.skills {
height: 37rem;
}
}
@media screen and (max-width: 997px) {
.skills {
height: 41rem;
}
.cv {
padding: 8rem 1rem .5rem;
}
.cardLeft, .cardRight {
margin-left: 5rem;
margin-right: 5rem;
}
}
@media screen and (max-width: 894px) {
.skills {
height: 45rem;
}
}
@media screen and (max-width: 802px) {
.skills {
height: 46rem;
}
}

/***========================MOBILE STYLES @ 800px WIDTH========================***/

@media screen and (max-width: 800px) {
#header{
display: none;
}
.skills {
display: none;
}
.material-icons {
display: none;
}
header {
margin: 0 !important;
height: 5500px;
background: black !important;
padding: 2rem 2rem 1rem 2rem;
-webkit-box-shadow: 1px 10px 10px rgba(0,0,0,0.1), 0 5px 12px rgba(0,0,0,0.7);
        box-shadow: 1px 10px 10px rgba(0,0,0,0.1), 0 5px 12px rgba(0,0,0,0.7);
z-index: 999;
}
.mdl-layout__drawer,  .mdl-layout__obfuscator {
height: 5500px !important;
max-height: 5500px !important;
position: fixed !important;
top: 0;
 }
.mdl-layout__inner-container, .mdl-layout__content {
position: fixed !important;
}
.mdl-layout__header-row {
height: 90px;
padding: 0px;
margin: 0 auto 0 0;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
}
.App-logo-span {
font-size: 28   px;
}
.mdl-layout__header .mdl-layout__drawer-button {
display: none;
}
.mdl-layout__drawer > .mdl-layout-title {
 text-align: center;
}
.subHeader {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
}
.mypic {
height: 55vmin;
width: 55vmin;
}
.container {
padding: 0;
margin: 0;
max-width: 100% !important;
text-align: center;
-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.4);
}
.skillsSpan {
color: #71c2cc;
}
.skillsP {
font-size: 15px;
}
.mobileBackground {
background-image: url('Components/assets/web.jpg');
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: black;
height: 30rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
overflow-x: auto;
}
.mobileBackground::-webkit-scrollbar {
 display: none;
}
.mobileSkills {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
overflow-x: auto;
color: white;
padding: 2rem 0rem 2rem 0rem;
}
.mobileSub {
background: rgb(79, 109, 133, 0.7);
min-width: 350px;
padding: 1rem 1rem 0rem 1rem;
margin-right: 5rem;
text-align: center;
-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.7);
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.7);
}
.mobileSubL {
margin-left: 5rem;
}
.mobileSubR {
background: rgb(79, 109, 133, 0.7);
min-width: 0px;
padding: .011rem .011rem 0rem .011rem;
margin-right: 5rem;
text-align: center;
-webkit-box-shadow: 0 0px 0px 0 rgba(32,33,36,0.1);
        box-shadow: 0 0px 0px 0 rgba(32,33,36,0.1);
}
.fa-laptop-code, .fa-address-card, .fa-handshake, .fa-running {
display: inline-block;
width: 100%;
text-align: center;
font-size: 8rem;
}
.button {
margin: 2rem 0rem;
}
.cardLeft, .cardRight {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
margin-right: 2rem;
margin-left: 2rem;
}
.cardLeftP, .cardRightP {
font-size: 25px;
padding-top: 20px;
text-align: center;
}
.cardLeftP p, .cardRightP p {
font-size: 20px;
}
.projectsBackground {
height: 128rem;
}
.asteroid_img_container {
width: auto;
}
.asteroid_img {
width: 100%;
}
}

/***========================MOBILE STYLES @ 640px WIDTH========================***/
@media screen and (max-width: 640px) {
.asteroid_img{
width: 100%;
float: none;
}
.asteroid_subtitle {
text-align: justify;
letter-spacing: 0px;
}
}

@media screen and (max-width: 600px) {
.skillsP {
font-size: 15px;
}
.cardLeftP p, .cardRightP p {
font-size: 18px;
}
}

/***========================MOBILE STYLES @ 450px WIDTH========================***/

@media screen and (max-width: 455px) {
.App-logo {
height: 10vmin;
}
.material-icons {
display: none;
}
ul {
-webkit-padding-start: 16px;
        padding-inline-start: 16px;
}
h2 {
line-height: 32px;
margin-top: 0px;
margin-bottom: 0px;
}
.socialbtns, .socialbtns ul, .socialbtns li {
font-size: 2.5rem;
}
#about {
padding-top: 64px;
}
.cv p {
font-size: 13px;
}
.cv li {
font-size: 11px;
}
.btn {
font-size: 13px;
}
.cv {
padding: 8rem .5rem .5rem;
}
article {
padding: .8rem;
}
}

/***========================MOBILE STYLES @ 375px WIDTH========================***/

@media screen and (max-width: 380px) {
.mypic {
height: 65vmin;
width: 65vmin;
}
#about {
padding-top: 64px;
}
.projectsBackground {
height: 130rem;
}
}